<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Travel App</title>
  <link rel="stylesheet" href="/stylsheets/style.css">
</head>
<body>
  <%- include('./partials/_nav') %>
  <div class="centred">
    <% if (user) { %>
  <h1>The whole world awaits, <%= user.username %>!</h1>
  <% } else { %>
    <h1>The whole world awaits!</h1>
    <% } %>
  </div>
  <main>
    <div class="card-container">
      <h1 class="headline">Top Vacation Destinations</h1>
      <div class="card-grid">
          <div class="card">
              <img src="/images/Rome.jpg" alt="Rome, Italy">
              <div class="card-info">
                  <h2>Rome, Italy</h2>
              </div>
          </div>
          <div class="card">
              <img src="images/Kerry.png" alt="Kerry, Ireland">
              <div class="card-info">
                  <h2>Kerry, Ireland</h2>
              </div>
          </div>
          <div class="card">
              <img src="images/Sydney.png" alt="Sydney, Australia">
              <div class="card-info">
                  <h2>Sydney, Australia</h2>
              </div>
          </div>
          <div class="card">
              <img src="images/Paris.png" alt="Paris, France">
              <div class="card-info">
                  <h2>Paris, France</h2>
            </div>
        </div>
    </div> 
  </main>
  <footer class="footer">
    <div class="social-icons">
      <a href="#"><img src="/images/social_icons/Facebook.png" alt="Facebook" /></a>
      <a href="#"><img src="/images/social_icons/Instagram.png" alt="Instagram" /></a>
      <a href="#"><img src="/images/social_icons/twitter.png" alt="Twitter" /></a>
      <a href="#"><img src="/images/social_icons/youtube.png" alt="YouTube" /></a>
    </div>
  </footer>
 </body>
</html>