<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Travel App</title>
  <link rel="stylesheet" href="/stylsheets/style.css">
</head>
<body>
  <%- include('./partials/_nav') %>
  <h1>The whole world awaits.</h1>
  <main>
    <div class="container">
      <h1 class="headline">Top Vacation Destinations</h1>
      <div class="card-grid">
          <div class="card">
              <img src="stylsheets/images/Colosseum-Exterior-Tour-4.jpg" alt="Rome, Italy">
              <div class="card-info">
                  <h2>Rome, Italy</h2>
              </div>
          </div>
          <div class="card">
              <img src="stylsheets/images/Kerry.png" alt="Kerry, Ireland">
              <div class="card-info">
                  <h2>Kerry, Ireland</h2>
              </div>
          </div>
          <div class="card">
              <img src="stylsheets/images/Sydney.png" alt="Sydney, Australia">
              <div class="card-info">
                  <h2>Sydney, Australia</h2>
              </div>
          </div>
          <div class="card">
              <img src="stylsheets/images/Paris.png" alt="Paris, France">
              <div class="card-info">
                  <h2>Paris, France</h2>
              </div>
          </div>
      </div>
  </div> </main>
</body>
</html>