<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  

    <title>Travel Project | About Us</title>
    <link rel="stylesheet" href="/stylsheets/style.css">
</head>
<body>
  <%- include('../partials/_nav') %>
<header>
    <div class="container">
        <h1>About Travel Project</h1>
    </div>
</header>

<main>
    <div class="container">
        <p>Travel Project is dedicated to providing travelers with informative, fun articles that help to enhance the travel experience.</p>
        <p>The site was launched in 2024.</p>
        <p>At Travel Project you'll find articles about destinations all around the world. There are articles on popular, trendy cities, as well as remote destinations   
           and activities that few travelers ever see.
        </p>
        <p>You'll also find travel tips, photos, and inspiration, and more.</p>
        <p>If you love to travel, I hope you'll enjoy and appreciate the articles you find here.</p>
    </div>
</main>

<footer class="footer">
  <div class="social-icons">
    <a href="#"><img src="images/social_icons/Facebook.png" alt="Facebook" /></a>
    <a href="#"><img src="images/social_icons/Instagram.png" alt="Instagram" /></a>
    <a href="#"><img src="images/social_icons/twitter.png" alt="Twitter" /></a>
    <a href="#"><img src="images/social_icons/youtube.png" alt="YouTube" /></a>
  </div>
</footer>
</body>
</html>   
