* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Arial', sans-serif;
  color: #333;
  background-image: url(/images/travel.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

main {
  padding: 40px;
}

h1 {
  font-size: 3em;
  color: #2d2d2d;
  margin-bottom: 20px;
  text-align: center;
}

h2, h3 {
  font-size: 2em;
  color: #444;
  margin-bottom: 15px;
}

p {
  font-size: 1.2em;
  color: #666;
  line-height: 1.6;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: #007BFF;
}

a:hover {
  text-decoration: underline;
}

/* City Image */
.city-image {
  text-align: center;
  margin-bottom: 20px;
}

.city-image img {
  width: 60%;
  max-width: 600px;
  height: auto;
  border-radius: 10px;
  box-shadow: -1px 1px 20px 20px rgba(0, 0, 0, 10);
}

/* Description Section */
.description {
  text-align: center;
  margin-bottom: 40px;
}

.description h2 {
  margin-bottom: 10px;
  color: #ddd;
}

.description p {
  font-size: 1.2em;
  color: #f0eded;
}

/* Points of Interest Cards */
.poi-cards {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.poi-card {
  background-color: #fff;
  padding: 20px;
  width: 250px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.points-of-interest h2 {
  color: #f0eded
}
.poi-card h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.poi-card p {
  font-size: 1em;
  color: #555;
}

/* Attendees Section */
.attendees {
  margin-bottom: 40px;
}

.attendees form button {
  background-color: #28a745;
  color: white;
  padding: 10px 20px;
  font-size: 1.1em;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.attendees form button:hover {
  background-color: #218838;
}

.attendees p {
  font-size: 1.1em;
  color: #333;
  margin-top: 10px;
}

/* Comment Section */
.comments {
  margin-bottom: 40px;
}

.comment {
  background-color: #fff;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.comment p {
  font-size: 1.1em;
}

.comment form button {
  background-color: #FF5C5C;
  color: white;
  border: none;
  padding: 5px 15px;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.comment form button:hover {
  background-color: #FF3333;
}

form textarea {
  width: 100%;
  padding: 10px;
  font-size: 1.1em;
  border-radius: 5px;
  border: 1px solid #ddd;
  margin-bottom: 15px;
  resize: vertical;
}

form button {
  background-color: #007BFF;
  color: white;
  padding: 10px 20px;
  font-size: 1.1em;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

form button:hover {
  background-color: #0056b3;
}

/* Back Link */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 40px;
}

footer a {
  color: white;
}

footer a:hover {
  text-decoration: underline;
}
